<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--dropzone css (link đển css dropzone để xử lý upload nhiều hình ảnh)-->
    <link rel="stylesheet" href="/portfolioDemo2/css/dropzone.css"> 
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="jumbotron text-center">
          <h1 class="display-3">Jumbo heading</h1>
          <p class="lead">Jumbo helper text</p>
          <hr class="my-2">
          <p>More info</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
          </p>
        </div>
      </div>
      










      <!--============ MULTER VÀ DROPZONE ===================-->
      <hr><h1>MULTER</h1>


      <form action="example-admin-demo2" method="POST" enctype="multipart/form-data">  <!--tạo form, chú ý method và enctype-->
        <div class="row"> <!--form input thông thường-->
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">project title (MULTER)</label> <!--trường input này có name="titleProjectDemo2" đc truyền qua routes/portfolioDemo2.js-->
              <input type="text" class="form-control" name="titleProjectDemo2" id="" aria-describedby="helpId" placeholder="title">
              <small id="helpId" class="form-text text-muted">Enter title</small>
            </div>
          </div>
          <div class="com-sm-6">
            <div class="form-group">
              <label for="">Image project</label> <!--chú ý trường input có name="imageProjectDemo2"-->
              <input type="file" class="form-control-file" name="imageProjectDemo2" id="" placeholder="" aria-describedby="fileHelpId">
              <small id="fileHelpId" class="form-text text-muted">Click to upload file</small>
            </div>
          </div>
        </div>
        <hr>
        <div class="row text-center">



          


          
          <div class="col-sm-10"><h2>DROPZONE và SỬ DỤNG MONGODB ĐỂ UPLOAD IMAGE</h2></div>
          <div class="col-sm-2"><button class="btn btn-dark" type="submit">Send info</button></div>
        </div>
      </form>

      <div class="row uploadDropzone"> <!--tạo form thực hiện dropzone-->
        <div class="col-sm-12">        <!--action uploadDropzoneDemo2 đc thực hiện tại portfolioDemo2.js-->
          <form id="upload-widget" method="post" action="uploadDropzoneDemo2" class="dropzone"> 
            <div class="fallback">
              <input name="file" type="file" />
            </div>
          </form>
        </div>
      </div>










      <!--_______________ KHỐI XỬ LÝ KẾT NỐI DATABASE MONGODB VÀ INSERT DATA VÀO MONGODB______________ -->
      <hr><h3>KHỐI XỬ LÝ KẾT NỐI DATABASE MONGODB VÀ INSERT DATA VÀO MONGODB</h3>
      <form action="addDataMongodbDemo2" method="POST" >  <!--ko có: enctype="multipart/form-data"-->  
        <div class="form-group">  <!--các biến đc truyền đến routes/portfolioDemo2.js: -->
          <div class="row">         <!--addDataMongodbDemo2, kindProjectMongodbDemo2 và titleMongodbDemo2-->
            <div class="col-sm-3"><label for="">kind of project</label></div>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="kindProjectMongodbDemo2" id="" aria-describedby="helpId" placeholder="">
            </div>
          </div> <!--/row-->
          <div class="row">
            <div class="col-sm-3"><label for="">title</label></div>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="titleMongodbDemo2" id="" aria-describedby="helpId" placeholder="">
            </div>
          </div> <!--/row-->
          
          <button type="submit" class="btn btn-primary">Submit Mongodb</button>
        </div>  <!--/form-group-->
      </form> <!--/form-->




      <!--_______________VIEW ĐỂ SELECT DATA TỪ MONGODB _____________________-->
      <hr><h1>KHỐI XỬ LÝ SELECT DATA TỪ MONGODB </h1>
      <div class="row">
        <table class="table table-striped table-bordered table-hover table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th>type of Project</th>
              <th>title</th>
              <th>background</th>
              <th>list image</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              <% data.forEach(function(aData){ %> <!--đưa data từ mongodb vào-->
                <tr class="updateMongoUnhide">
                  <td scope="row"><%= aData.kindOfProject %></td>
                  <td><%= aData.title %> </td>
                  <td><img src="/portfolioDemo2/upload/<%= aData.backgroundImage %>" style="width: 10%;" alt=""></td>
                  <td>
                    <% aData.imgProject.forEach(function(aImg){ %>
                      <img src="/portfolioDemo2/upload/<%= aImg %>" alt="" style="width: 5%;">
                    <% }) %>
                  </td>
                  <td> 
                    <!-- <a href="/portfolioDemo2/updateProject-demo2/<%= aData._id %>">  -->
                      <i class="fa fa-edit"></i> 
                    <!-- </a> -->
                    /   <!--ở đây trước khi delete cần phải confirm vs user xem có chắc chắn xóa hay ko, -->
                    <a href="/portfolioDemo2/deleteProject-demo2/<%= aData._id %>" onclick="return confirmToDelete('Bạn có chắc chắn muốn xóa ko?');">
                      <i class="fa fa-remove"></i>    <!--function để confirm confirmToDelete viết trong script cuối file này-->
                    </a>
                  </td>
                </tr>
                <tr class="updateMongoHide">
                  <form action="/portfolioDemo2/updateProject-demo2/<%= aData._id %>" method="POST" >  <!--ko có: enctype="multipart/form-data"--> 
                    <td scope="row">  <!--truyền id cần update vào aData._id, các name= kindMongoEditDemo2 và titleMongoEditDemo2 đc truyền qua portfolioDemo2 để update-->
                      <input type="text" class="form-control" name="kindMongoEditDemo2" id="" aria-describedby="helpId" placeholder="type of Project" value="<%= aData.kindOfProject %>">
                    </td>
                    <td><input type="text" class="form-control" name="titleMongoEditDemo2" id="" aria-describedby="helpId" placeholder="title" value="<%= aData.title %> "></td>
                    <td></td><td></td>
                    <td> <button type="submit" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> </button></td>
                  </form>
                </tr>
              <% }) %>
            </tbody>
        </table>
      </div>
      
    </div>
      
    
    <script type="text/javascript">
      function confirmToDelete(message){
        if(window.confirm(message)==true) return true;
        return false;
      }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--dropzone js (link đển js dropzone để xử lý upload nhiều hình ảnh)-->
    <script src="/portfolioDemo2/js/dropzone.js"></script>
    <script>
      Dropzone.options.uploadWidget = {
        paramName: 'file',
        maxFilesize: 2, // MB
        maxFiles: 1,
        dictDefaultMessage: 'Kéo hình ảnh vào đây hoặc click để chọn file ............',
        headers: {
          'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
        },
        acceptedFiles: 'image/*',
        init: function() {
          this.on('success', function(file, resp){
            console.log(file);
            console.log(resp);
          });
          this.on('thumbnail', function(file) {
            if (file.accepted !== false) {
              if (file.width < 640 || file.height < 480) {  /*check độ rộng và độ cao ảnh đc up lên*/
                file.rejectDimensions();                    /*nếu ngoài khoảng này thì reject -> từ chối*/
              }
              else {
                file.acceptDimensions();
              }
            }
          });
        },
        accept: function(file, done) {
          file.acceptDimensions = done;
          file.rejectDimensions = function() {
            done('The image must be at least 640 x 480px')
          };
        }
      };
    </script>
  </body>
</html>