<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metas -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title><%= title %></title>
	<meta name="description" content="Satie - Agency & Portfolio HTML Template">

	<!-- External CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/fontawesome-all.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/main.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/colors.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/responsive.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600%7CQuestrial" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" href="/portfolioDemo2/img/favicon.png">
</head>
<body>

	<!-- ========== Header ========== -->
	<% include header %>    <!--include file header.ejs vào dùng chung cho cả page-->

	<!-- ========== Main ========== -->

	<main class="personal-portfolio">

		<div class="container">
		
			<div class="hero">
				
				<div class="content">
					<h1>digital designer</h1>
					<p>Hello, my name is Helen Brown. I am a freelance<br>
					digital designer from Berlin</p>
					<a href="/portfolioDemo2/contact-demo2" class="cta-link">contact me</a>
				</div>

				<div class="img-container">
					<img src="/portfolioDemo2/img/personal-portfolio-img.png" alt="" class="img-responsive">
				</div>

				<div class="clearfix"></div>

			</div> <!-- /.hero -->

			<div class="irregular-grid-02">
				
				<% fakeDataPortfolioDemo2.projects.forEach(function(aProject){ %> <!--fakeDataPortfolioDemo2 in app.js-->
				<a href="/portfolioDemo2/single-project-demo2/<%= aProject.linkSEO %>.<%= aProject.id %>"><!--fakeDataP..-->
					<div class="portfolio-item"><!--trỏ đến projects trong models/projects.json. Trong projects.json-->	
						<img src="<%= aProject.backgroundImage %>" alt="" class="img-cover"><!--chứa 1object,trong object-->
						<div class="portfolio-item-overlay"><!--đó chỉ có 1 đối tượng duy nhất là projects => -->
							<div class="info"><!--fakeDataPortfolioDemo2.projects. Và trong đối tượng đó là 1 mảng gồm-->
								<h2 class="portfolio-item-title"><%= aProject.title %></h2><!--nhiều phần tử=> .forEach-->
								<h3 class="portfolio-item-category"><%= aProject.disciplines %></h3><!--để lấy từng ptử ra-->
							</div>
						</div>
					</div>
				</a>
				<% }) %>
				<div class="clearfix"></div>

			</div><!-- /.irregular-grid-02 -->
			
		</div> <!-- end .container -->
			
	</main> <!-- end .personal-portfolio -->

	<footer class="footer-extended footer-bg-grey">
		<% include footer2 %>    <!--include file footer2.ejs vào dùng chung cho cả page-->
	</footer>
	<% include full-screen-nav %>    <!--include file full-screen-nav.ejs vào dùng chung cho cả page-->
	
	<script src="/portfolioDemo2/js/jquery-3.6.0.min.js"></script>
	<script src="/portfolioDemo2/js/main.js"></script>
	
</body>
</html>