<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metas -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title><%= title %></title>
	<meta name="description" content="Satie - Agency & Portfolio HTML Template">

	<!-- External CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/fontawesome-all.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/portfolioDemo2/css/main.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/colors.css">
	<link rel="stylesheet" href="/portfolioDemo2/css/responsive.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600%7CQuestrial" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" href="/portfolioDemo2/img/favicon.png">
</head>
<body>

	<!-- ========== Header ========== -->
	<% include header %>    <!--include file header.ejs vào dùng chung cho cả page-->

	<!-- ========== Main ========== -->

	<main class="portfolio-page">

		<div class="container-large">

			<div class="portfolio-cards">
				<% if(idProjectHistory.length==0){ %>
					<div class="row text-center">Nothing (no project)</div>	<!--Nếu idProjectHistory k có zì thì in ra "nothing"-->
				<% }
				   else idProjectHistory.forEach(function(id1ProjectHistory){ 
						fakeDataPortfolioDemo2.projects.forEach(function(aProject){
							if(aProject.id==id1ProjectHistory){ %>			<!--Nếu có data trong idProjectHistory thì in ra-->
								<a href="/portfolioDemo2/single-project-demo2/<%= aProject.linkSEO %>.<%= aProject.id %>">
									<div class="portfolio-item">	
										<img src="<%= aProject.backgroundImage %>" alt="" class="img-cover">
										<div class="portfolio-item-overlay">
											<div class="info">
												<h2 class="portfolio-item-title"><%= aProject.title %></h2>
												<h3 class="portfolio-item-category"><%= aProject.disciplines %></h3>
											</div>
										</div>
									</div>
								</a>
				<% 			}
						})
					}) %>
				<div class="clearfix"></div>

			</div> <!-- /.portfolio-cards -->
			
		</div> <!-- /.container-large -->
			
	</main> <!-- /.portfolio-page -->

	<footer class="footer-default">
		<% include footer1 %>    <!--include file footer1.ejs vào dùng chung cho cả page-->
	</footer> <!-- /.footer-default -->
	<% include full-screen-nav %>    <!--include file full-screen-nav.ejs vào dùng chung cho cả page-->
	
	<script src="/portfolioDemo2/js/jquery-3.6.0.min.js"></script>
	<script src="/portfolioDemo2/js/main.js"></script>
	
</body>
</html>